/* style.css */

/* Body */
body {
  background-color: #1c1c1c;
  color: #dcdcdc;
}

/* Navbar */
.navbar {
  background-color: #343a40; /* Ungu gelap */
}

.navbar .nav-link {
  color: #ffffff;
}

.navbar .nav-link:hover {
  background-color: #4f5962;
}

.navbar .dropdown-menu {
  background-color: #343a40;
}

.navbar .dropdown-item {
  color: #ffffff;
}

.navbar .dropdown-item:hover {
  background-color: #4f5962;
}

/* Sidebar */
.main-sidebar {
  background-color: #343a40;
  color: #ffffff;
}

.main-sidebar .brand-link {
  background-color: #343a40;
  color: #ffffff;
}

.main-sidebar .brand-link:hover {
  background-color: #4f5962;
}

.main-sidebar .user-panel {
  border-bottom: 1px solid #4f5962;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link {
  color: #ffffff;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link:hover {
  background-color: #4f5962;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #4f5962;
}

/* Sidebar Menu */
.nav-sidebar .nav-icon {
  color: #ffffff;
}

.nav-item p{
  font-weight: bold;
}

/* User Image in Navbar and Sidebar */
.user-image {
  border: 2px solid #4f5962;
}

/* Dropdown Menu */
.dropdown-menu-right {
  background-color: #343a40;
  color: #ffffff;
}

.dropdown-menu-right .dropdown-item:hover {
  background-color: #4f5962;
}

/* Sidebar User Panel */
.user-panel .info a {
  color: #ffffff;
}

.user-panel .info a:hover {
  text-decoration: underline;
}

.fa-circle.text-success {
  color: #00ff00; /* Warna hijau untuk status online */
}

.content-header {
  color: black;
}

.content {
  color: black;
}

.card-primary:not(.card-outline)>.card-header {
  background-color: #212529;
}

.card-header{
  background-color: #212529;
}
