/* General settings */
body {
    background-color: #f5f5f5;
    color: #333;
}

a {
    color: #333333;
}

a:hover {
    color: #555555;
}

/* Intro section */
.intro.route {
    background-color: #333333;
    color: #fff;
}

.intro-content .display-6 {
    color: #fff;
}

.intro-title {
    color: #fff;
}

.text-slider-ps {
    color: #fff;
}

/* Services section */
#service .title-box h3 {
    color: #333333;
}

#service .title-box .subtitle-a {
    color: #333333;
}

.service-box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}


.service-content h2 {
    color: #333333;
}

.s-description {
    color: #666;
}

.s-price {
    color: #333333;
}

/* Blog section */
#blog .title-box h3 {
    color: #333333;
}

#blog .title-box .subtitle-a {
    color: #333333;
}



.card-category-box .card-category {
    background-color: #333333;
    color: #fff;
}

.card-title a {
    color: #333333;
}

.card-title a:hover {
    color: #555555;
}

.post-author {
    color: #333333;
}

.post-date {
    color: #333333;
}

/* Navbar */

.navbar-reduce a.navbar-brand{
    text-decoration: none;
}

.navbar-brand {
    color: #fff;
}

.navbar.navbar-b.navbar-expand-md.fixed-top.navbar-reduce{
    background-color: #333333;
}

.navbar-brand:hover {
    color: #555555;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler span {
    background-color: #fff;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    color: #555555;
}

/* Navbar collapse */


.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #555555;
}

/* Additional settings for mobile view */
@media (max-width: 767.98px) {
    .navbar-collapse {
        background-color: #333333;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #fff;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: #555555;
    }
}


